@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Rubik:wght@300&display=swap');

body {
  background-color: white;
  margin-right: 136px;
  margin-left: 136px;
}

.header {
  height: 504px;
  background-color: #f1f3ff;
}

.headertext {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: black;
}

h1 {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 150%;
  color: black;
}
h2 {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  color: black;
}

h3 {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}

.cardsubtitle {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}

p {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
}

li {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
}

.img_car {
  position: absolute;
  width: 704px;
  height: 407px;
  left: 736px;
  top: 97px;
}

.img_girl {
  position: absolute;
  width: 459px;
  height: 428px;
  left: 206px;
  top: 604px;
}

.headertext {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  margin-right: 113px;
}

.col-sm-1 {
  width: fit-content;
  padding-right: calc(var(--bs-gutter-x) * 0.7);
  padding-left: calc(var(--bs-gutter-x) * 0.7);
}

.bluebox {
  height: 34px;
  width: 100px !important;
  max-width: 100px !important;
  background-color: #0d28a6;
}

.headercon {
  max-width: none;
}

@media screen and (max-width: 740px) {
  body {
    margin-right: 15px;
    margin-left: 15px;
  }
  .headertext {
    margin-right: 0px;
  }
}

.headbackground {
  background-color: #f1f3ff;
  height: 31rem;
  top: 0;
  right: 0;
  left: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.btn-primary {
  background-color: #5cb85f;
  border-radius: 2px;
  font-family: 'Arial';
  font-family: 'Arial';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  width: 140px;
  height: 36px;
  border-color: transparent;
  padding: 8px;
}

.btn-primary:hover {
  background-color: green;
}

.banner {
  height: 28rem;
}

.hero {
  height: 28rem;
}

.mobil2 {
  position: absolute;
  right: 0;
  top: 100px;
}

.mobil {
  position: absolute;
  right: 0;
  top: 90px;
  z-index: -1;
}

.list1 {
  list-style: none;
}

.list2 {
  list-style-image: url(../src/assets/image/icon_checklist.png);
  padding: 0em 0 0.8em 14px;
}

.listo {
  position: relative;
  top: -6px;
}

.card-body {
  padding-right: 12px;
  padding-left: 12px;
  padding-top: 24px;
}

.card-text {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  text-align: left;
}

.wrapper {
  display: flex;
  overflow-x: auto;
  margin-left: -136px;
  margin-right: -136px;
  gap: 32px;
}

.wrapper::-webkit-scrollbar {
  width: 0;
}

.item {
  width: 619px;
  min-height: 270px;
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
}

.itemitem {
  max-width: 619px;
  min-height: 270px;
  text-align: center;
  background-color: #f1f3ff;
  border-radius: 8px;
  display: flex;
}

@media only screen and (max-width: 600px) {
  .item {
    width: 100%;
    height: 100%;
  }

  .fixedHeight {
    margin-left: 10px;
    margin-right: 10px;
  }

  .itemitem {
    width: 100%;
  }

  .card-img {
    width: 80px;
    height: 80px;
    padding-left: 0px;
    margin-left: -25px;
    margin-top: 15px;
  }
  .cardhead {
    display: flex;
    justify-content: center;
  }

  .five {
    margin-left: 50px;
  }
}

.card-img {
  width: 80px;
  height: 80px;
  margin-left: 25px;
}

.text-card2 {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: black;
}

.bluebanner {
  height: 326px;
  background-color: #0d28a6;
  border-radius: 13px;
  padding-top: 64px;
}

.faq {
  width: 668px;
  height: 56px;
  border-radius: 4px;
  background-color: white;
  color: black;
  border-color: #d4d4d4;
  font-family: 'Arial';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  text-align: left;
}

.socialbutton {
  padding-right: 12px;
}

.disewa {
  font-weight: 700;
}

.namamobil {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 18px;
}

.searchform {
  width: 100%;
  height: 38px;
  border-radius: 4px;
  border-width: 1px;
  border-color: #cccccc;
  padding-left: 12px;
}

.btn-primary-search {
  background-color: #5cb85f;
  border-radius: 2px;
  font-family: 'Arial';
  font-family: 'Arial';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  border-color: transparent;
  align-self: flex-end;
  color: white;
  width: 92px;
  height: 36px;
  border: none;
  padding: 8px 12px;
}

.flex {
  display: flex;
}

.labelsearch {
  text-align: left;
  float: left;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 18px;
  color: #3c3c3c;
}

.searchbar {
  max-width: 1047px;
  height: 106px;
  border-radius: 8px;
  margin-top: -40px;
  background-color: white;
}

.class-col {
  align-self: center;
  height: 100%;
  align-items: center;
  align-content: center;
}

.main-container {
  display: flex;
  height: 100%;
  align-items: center;
  align-content: center;
}

.button1 {
  width: 140px;
  height: 36px;
  background-color: #5cb85f;
  color: white;
  font-family: 'Arial';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  border-radius: 2px;
  border: none;
}

.button2 {
  width: 92px;
  height: 36px;
  background-color: #5cb85f;
  color: white;
  border: none;
  border-radius: 2px;
  font-family: 'Arial';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
}

.dropdown {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: black;
}

.slick-slider {
  width: 100%;
  height: 100%;
}

.fixedHeight {
  height: 270px;
}

.spacing {
  width: 30px;
}

.slick-prev {
  left: 3% !important;
  z-index: 1;
}
.slick-next {
  right: 3% !important;
  z-index: 1;
}

.cardWhy {
  width: 268px;
}

@media only screen and (max-width: 768px) {
  .cardWhy {
    width: 100%;
  }

  .mobils {
    width: 100%;
  }
  .headercon {
    display: none;
  }
}

@media only screen and (max-width: 580px) {
  .smallBanner {
    margin-left: 10px;
    margin-right: 10px;
  }
}

@media only screen and (min-width: 768px) {
  .hideSidebar {
    display: none;
  }
}

.signIn {
  object-fit: cover;
}

.signInRight {
  background-color: #0d28a6;
}

@media only screen and (max-width: 990px) {
  .signInRight {
    display: none;
  }
}

@media only screen and (max-width: 990px) {
  .signInLeft {
    padding:10px;
  }
}

@media only screen and (max-width: 767px) {
  .searchbar {
    height:330px;
    padding:10px;
    margin:10px;
  }
}


button:disabled {
  display: none;
}

input:disabled {
  background-color: #d0d0d0;
}
